.container{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 35vh;

}
header h1{
    
    width: fit-content;
    margin: auto;

}
.btn{
    background-color: #0077ff;
    padding: 0.5rem 0.8rem;
    border-radius: 6px;
    color: white;
}
.navbar{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.image-section{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.image-box img{
    width: 150px;
    height: 140px;
    box-shadow: 0px 0px 12px gray;
}