.form-login{
    border: 1px solid rgb(177, 177, 177);
    width: 30%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem auto;
    border-radius: 4px;
}

.inp{
    padding: 0.3rem;
    border: 1px solid gray;
    border-radius: 4px;
    margin: 0.3rem 0rem;
}

.btn{
    background-color: rgb(1 123 255);
    border: none;
    color: white;
    width: 53%;
    border-radius: 5px;
    padding: 0.5rem;
}
.forget-link{
    text-decoration: none;
    color: rgb(1 123 255);
}